*{
    margin: 0px;
    padding:0px;
    background-color: #000000;
}
.Heading{
    height: 50px;
    color: white;
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
.goback{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    transform: rotate(180deg);
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.choices{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5rem;
}
.choice{
    height: 150px;
    width: 150px;
    margin-top: 100px;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
div{
    color: white;
    text-align: center;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
#user-score,#computer-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: white;
    color: black;
    display: inline;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}